<div class="flex min-w-0 flex-auto flex-col">
    <img
        src="images/home-background.jpeg"
        class="absolute h-full w-full object-cover"
    />
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <!-- CONTENT GOES HERE -->
        <div class="relative overflow-hidden px-6 pb-12 sm:px-16 sm:pb-24">
            <div class="mt-8 flex justify-center sm:mt-20">
                <div class="w-full max-w-sm md:max-w-7xl">
                    <div
                        class="grid grid-cols-1 gap-y-6 md:grid-cols-2 md:gap-x-6 lg:gap-y-0"
                    >
                        <!-- Card 1 -->
                        <fuse-card
                            class="max-w-sm flex-col p-6 hover:ring-2 hover:ring-primary sm:px-10 sm:py-12 md:max-w-none"
                        >
                            <img
                                class="object-cover"
                                src="https://img.freepik.com/vetores-gratis/treinador-falando-antes-da-audiencia-mentor-apresentando-graficos-e-relatorios-funcionarios-reunidos-em-treinamento-empresarial-seminario-ou-conferencia-ilustracao-vetorial-para-apresentacao-palestra-educacao_74855-8294.jpg?semt=ais_hybrid"
                                alt="Card cover image"
                            />
                            <div
                                class="text-4xl font-bold leading-tight tracking-tight"
                            >
                                Treinamento
                            </div>
                            <div
                                class="text-secondary mt-2 text-lg font-medium tracking-tight"
                            >
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Similique deleniti
                                necessitatibus itaque minus nostrum cum culpa
                                error sequi beatae est nam dicta placeat nihil
                                provident natus atque, aspernatur quasi
                                quisquam.
                            </div>

                            <!-- CTA -->
                            <button
                                class="fuse-mat-button-large bg-custom-gradient mt-10"
                                mat-flat-button
                                [color]="'primary'"
                                [routerLink]="'treinamento'"
                            >
                                <span class="text-white">Iniciar</span>
                            </button>
                        </fuse-card>
                        <!-- Card 2 -->
                        <fuse-card
                            class="max-w-sm flex-col overflow-visible p-6 hover:ring-2 hover:ring-primary sm:px-10 sm:py-12 md:max-w-none"
                        >
                            <img
                                class="object-cover"
                                src="https://blog.alterdata.com.br/wp-content/uploads/2018/08/212029-dashboard-o-que-e-e-por-que-toda-empresa-precisa-de-um.jpg"
                                alt="Card cover image"
                            />
                            <div
                                class="text-4xl font-bold leading-tight tracking-tight"
                            >
                                Dashboard
                            </div>
                            <div
                                class="text-secondary mt-2 text-lg font-medium tracking-tight"
                            >
                                Lorem ipsum dolor, sit amet consectetur
                                adipisicing elit. Qui cum maxime, nihil omnis
                                corrupti vel itaque mollitia hic. Sint pariatur
                                nam a doloremque accusamus labore impedit in
                                iste voluptatem eum!
                            </div>

                            <!-- CTA -->
                            <button
                                class="fuse-mat-button-large bg-custom-gradient mt-10"
                                mat-flat-button
                                [color]="'primary'"
                            >
                                <span class="text-white">Acessar</span>
                            </button>
                        </fuse-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
